/* background: #E5E5E5 */


h1 {
  position: absolute;
  width: 1103px;
  height: 75px;
  left: 168px;
  top: 189px;

font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  /* identical to box height */


  color: #FCA600;
}

h2 {
  /* Founder - Zest Inc. */


position: absolute;
width: 250px;
height: 45px;
left: 168px;
top: 286px;

font-family:'Source Sans Pro', sans-serif;
font-style: italic;
font-weight: normal;
font-size: 36px;
line-height: 45px;

color: #FCA600;

}

h3 {
  position: absolute;
width: 350px;
height: 30px;
left: 168px;
top: 353px;

font-family: 'Source Sans Pro', sans-serif;
font-style: italic;
font-weight: normal;
font-size: 24px;
line-height: 30px;

color: #FCA600;

}

/* Linkedin | Twitter | Github | Mail */

h4 {
position: absolute;
width: 500px;
height: 40px;
left: 570px;
top: 620px;

font-family: 'Lato'
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 43px;

color: #FCA600;
}

a {
  color: #FCA600;
  text-decoration: none;
}

a:link {
  color:
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}
         /* For small screens */
           @media only screen and (max-width : 768px) {
                          div {
                              width: 90%;
                          }
                          .name.placeholder{
                            padding-top:30%;
                          }
                          h1 {
                              font-size: 140px;
                              font-size: 13vw;
                              line-height: 1em;
                          }
                        .description-placeholder {
                          margin-left: 5px;
                        }
                        .description-placceholder a:last-child {
                          display: block;
                        }
                          }
                      }
